<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.yf.remotecontrolclient">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 添加系统级警告 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission
        android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_l"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".activity.service.MouseService">
        </service>

        <activity
            android:name=".activity.ChooseRoomActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.WriteActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.MediaMusicActivity"/>
        <activity android:name=".activity.NewMediaMusicActivity"/>
        <activity android:name=".activity.MediaVideoActivity"/>
        <activity
            android:name=".activity.MouseActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.MediaImageFolderActivity"/>
        <activity android:name=".activity.MediaImageActivity"/>
        <activity android:name=".activity.BrowserActivity"/>
        <activity android:name=".activity.FileActivity"/>
        <activity
            android:name=".activity.FileShowListActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".activity.QRCodeScanActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.WebsiteAddActivity"/>
        <activity android:name=".activity.RemoteDevicesListActivity">
        </activity>
        <activity android:name=".activity.SettingsActivity">
        </activity>

        <service
            android:name=".minaclient.tcp.MinaServer"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".activity.IntercomActivity">
        </activity>

        <service
            android:name=".intercom.InterService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>

</manifest>