<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.yf.remotecontrolclient">

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for com.baidu.speech.recognizerdemo"
        android:targetPackage="com.yf.remotecontrolclient" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 添加系统级警告 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission
        android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:name="com.yf.remotecontrolclient.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_l"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 请填写真实的APP_ID API_KEY SECRET_KEY-->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="10155431" />
        <!-- 再次重复！！填写APP_ID 时请检查在官网的该应用内是否设置了包名。否则会导致唤醒词及离线功能无法使用。
         本demo的包名是com.baidu.speech.recognizerdemo，在build.gradle文件中查看。 -->
        <!-- 正式发布时，请替换成您自己的appId 本demo的appId会不定时下线 -->
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="rpHqyGsUm2QBW0GUP2pHaBxi" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="4690b5e7c7af8971c6623cc68976f7b2" />
        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" />

        <activity
            android:name="com.yf.remotecontrolclient.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.yf.remotecontrolclient.activity.ChooseRoomActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yf.remotecontrolclient.activity.WriteActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"/>
        <activity android:name="com.yf.remotecontrolclient.activity.MediaMusicActivity"/>
        <activity android:name="com.yf.remotecontrolclient.activity.MediaVideoActivity"/>
        <activity
            android:name="com.yf.remotecontrolclient.activity.MouseActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.yf.remotecontrolclient.activity.MediaImageFolderActivity"/>
        <activity android:name="com.yf.remotecontrolclient.activity.MediaImageActivity"/>
        <activity android:name="com.yf.remotecontrolclient.activity.BrowserActivity"/>
        <activity android:name="com.yf.remotecontrolclient.activity.FileActivity"/>
        <activity
            android:name="com.yf.remotecontrolclient.activity.FileShowListActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.yf.remotecontrolclient.activity.QRCodeScanActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.yf.remotecontrolclient.activity.WebsiteAddActivity"/>
        <activity android:name="com.yf.remotecontrolclient.activity.RemoteDevicesListActivity">
        </activity>
        <activity android:name="com.yf.remotecontrolclient.activity.SettingsActivity">
        </activity>
        <activity android:name="com.yf.remotecontrolclient.activity.IntercomActivity">
        </activity>
        <!--<activity android:name=".activity.baidu.dcs.DcsMainActivity">-->
        <!--</activity>-->
        <!--<activity android:name=".activity.baidu.dcs.DcsOAuthActivity">-->
        <!--</activity>-->
        <!--<activity android:name=".activity.baidu.dcs.DcsScreenHtmlActivity">-->
        <!--</activity>-->

        <service
            android:name="com.yf.remotecontrolclient.minaclient.tcp.MinaServer"
            android:enabled="true"
            android:exported="true">
        </service>
        <service android:name="com.yf.remotecontrolclient.activity.service.MouseService">
        </service>
        <service
            android:name="com.yf.remotecontrolclient.intercom.InterService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name="com.yf.remotecontrolclient.httpserver.MyHttpService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity android:name="com.yf.remotecontrolclient.activity.baidu.tts.BdTtsActivity">
        </activity>
        <activity android:name="com.yf.remotecontrolclient.activity.baidu.asr.ActivityOnline">
        </activity>
    </application>

</manifest>